@{
    ViewBag.Title = "Liste des élèves";
}
@using WebApplication.Models
@model List<EleveViewModel>

<div class="row mt-5">
    <div class="col-12">
        <h2 class="mb-4">Liste des élèves</h2>
        @using (Html.BeginForm("ListEleves", "Eleve"))
        {
            <p>
                @Html.TextBox("filtre")
                <input type="submit" value="Rechercher" />
            </p>
        }
        <table style="width: 55%;">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de naissance</th>
            </tr>
            @foreach (var eleve in Model)
            {
                <tr>
                    <td>@eleve.Nom</td>
                    <td>@eleve.Prenom</td>
                    <td>@eleve.DateNaissance.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a class="btn btn-primary" role="button" href="@Url.Action("DetailEleve", "Eleve", new { eleveID = eleve.EleveId })">
                            Détail
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>